<!DOCTYPE html>
<html lang="en">
{% include "head.html" %}

<body class="bg-light">
    <!-- Navigation -->
    {% include "nav.html" %}
    <!-- Container -->
    <div class="container my-5 vh-100">
        <!-- Class Title -->
        <div class="mb-4">
            <h2>{{results["session_name"]}}</h2>
        </div>

        <!-- Class Details Section -->
        <div class="mb-4">
            <h5 class="text-primary">Class Details</h5>
            <div class="row">
                {%for key, value in results.items():%}
                    <div class="col-md-3">
                        <p class="mb-1 text-secondary fw-bold">{{label_converter[key]}}</p>
                        <p class="text-dark">{{value}}</p>
                    </div>
                {% endfor %}
            </div>
        </div>

        <!-- Action Buttons -->
        <div class="d-flex justify-content-between">
            <form action="{{url_for('filters.filter_sessions')}}">
                <button type="submit" class="btn btn-outline-secondary">Cancel</button>
            </form>
            {% if canBeTaken %}
                <button class="btn btn-primary">Book</button>
            {% else %}
                <span class="text-danger">{{reason}}</span>
            {% endif %}
        </div>
    </div>
    <!-- Footer -->
    {% include "footer.html" %}

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
